
*.log

esmc/preprocessing/__pycache__/

esmc/postprocessing/draw_sankey/__pycache__/

esmc/postprocessing/__pycache__/

esmc/__pycache__/

.idea/

case_studies/

esmc/utils/__pycache__/

.ipynb_checkpoints/

.vscode/

esmc.egg-info/
